@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600&display=swap');

:root {
  --bg:#020617;
  --neon:#22d3ee;
  --neon2:#a855f7;
  --text:#e5e7eb;
}

body {
  margin:0;
  font-family:"Orbitron",sans-serif;
  background:radial-gradient(circle at top,#020617,#000);
  color:var(--text);
}

header {
  border-bottom:1px solid var(--neon);
  box-shadow:0 0 20px var(--neon);
  padding:1rem;
  text-align:center;
}

h1 {
  color:var(--neon);
  text-shadow:0 0 12px var(--neon);
}

nav a {
  color:var(--neon2);
  margin:0 10px;
  text-decoration:none;
}

nav a.active { text-shadow:0 0 10px var(--neon2); }

main { padding:20px; }

.controls { display:flex; gap:10px; flex-wrap:wrap; margin-bottom:10px; }
input,select {
  background:#000;
  color:var(--neon);
  border:1px solid var(--neon);
  padding:6px;
}

.grid {
  display:grid;
  grid-template-columns: repeat(10, 1fr); /* now 10 across */
  gap: 10px;
}

.card {
  background:linear-gradient(180deg,#020617,#000);
  border:1px solid var(--neon);
  border-radius:10px;
  padding:12px;
  display:flex;
  justify-content:space-between;
  box-shadow:0 0 10px #000;
  transition:.2s;
}

.card:hover {
  box-shadow:0 0 18px var(--neon);
  transform:translateY(-2px);
}

.card.owned {
   opacity: 0.5; /* fades the box */
  background-color: #333; /* slightly darker background */
  pointer-events: none; /* optional: disable clicks if desired */
}

.Common { border:5px solid #717471; }
.Uncommon { border:5px solid #41eb6a; }
.Rare { border:5px solid #1ecbfc; }
.Epic { border:5px solid #d8299b; }
.Legendary { border:5px solid #fbc700; }

.list div {
  background:#020617;
  border:1px solid var(--neon);
  margin:5px 0;
  padding:8px;
  cursor:pointer;
}

.details {
  background:#020617;
  border:1px solid var(--neon2);
  box-shadow:0 0 15px var(--neon2);
  padding:16px;
  margin-top:15px;
  border-radius:10px;
}

.hidden { display:none; }

#progress {
  color:var(--neon);
  text-shadow:0 0 8px var(--neon);
}
